.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-Grey-light-2);
    box-shadow: var(--box-shadow);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-Grey-light-1);
    color: black;
    font-size: 1.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.nav-sidebar {
    background-color: var(--color-Grey-dark-1);

    flex: 0 0 18%;
}

.main-hotel-view {
    background-color: #fff;
    color: black;

    flex: 1;
}